<div class="container">
  <h1 class="title-cars">All Cars</h1>

  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <!-- You can replace the image source with an actual image URL or a placeholder -->
          <img class="card-img-top" src="..." alt="Car image">
          <div class="card-body">
            <h5 class="card-title"><%= car.brand %> <%= car.model %></h5>
            <p class="card-text">Price: $<%= car.price %></p>
            <p class="card-text">Capacity: <%= car.capacity %></p>
            <p class="card-text">Owner: <%= car.user.email %></p>
            <!-- You can add additional information or buttons here -->
            <a href="<%= car_path(car) %>" class="car-details btn btn-info">View Details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "New Car", new_car_path, class: "New-car btn btn-primary mb-3" %>
</div>
