<div class="container">
  <%= form_with(model: @car, url: cars_path, method: "post") do |form| %>
    <div class="mb-3">
      <%= form.label :brand, class: "form-label" %>
      <%= form.text_field :brand, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :model, class: "form-label" %>
      <%= form.text_field :model, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :price, class: "form-label" %>
      <%= form.number_field :price, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :capacity, class: "form-label" %>
      <%= form.number_field :capacity, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :user_id, class: "form-label" %>
      <%= form.select :user_id, options_for_select(User.all.map { |user| [user.email, user.id] }), {}, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.file_field :photos, multiple: true %>
    </div>

    <%= form.submit "Create Car", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "All Cars", cars_path %>
</div>
