<%= render 'layouts/navbar' %>
<div class="container" style="padding: 30px 50px">
  <%= simple_form_for(@car, url: cars_path, method: "post") do |form| %>
    <%= form.input :brand, label: "Brand", input_html: { class: "form-control" } %>
    <%= form.input :model, label: "Model", input_html: { class: "form-control" } %>
    <%= form.input :price, label: "Price", input_html: { class: "form-control" } %>
    <%= form.input :capacity, label: "Capacity", input_html: { class: "form-control" } %>
    <%= form.input :city, label: "City", input_html: { class: "form-control" } %>
    <%= form.input :available_from, label: "Available from", input_html: { class: "form-control" } %>
    <%= form.input :available_to, label: "Available to", input_html: { class: "form-control" } %>
    <%= form.input :user_id, collection: User.all.map { |user| [user.email, user.id] }, label: "User", input_html: { class: "form-control" } %>
    <%= form.input :photo, as: :file %>
    <%= form.button :submit, "Create Car", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "All Cars", cars_path %>
</div>