<%= render 'layouts/navbar' %>
<div class="show-container" style="padding: 40px;">
  <h1>Car details</h1>
  <div>
    <% if @car.photo.attached? %>
      <%= cl_image_tag(@car.photo.key, width: 300, height: 200, crop: :fill) if @car.photo.attached? %>
    <% else %>
      <p>No photos available</p>
    <% end %>
  </div>
  <div>
    <strong>Brand:</strong>
    <%= @car.brand %>
  </div>
  <div>
    <strong>Model:</strong>
    <%= @car.model %>
  </div>
  <div>
    <strong>Price:</strong>
    <%= @car.price %>
  </div>
  <div>
    <strong>Capacity:</strong>
    <%= @car.capacity %>
  </div>
  <div>
    <strong>Owner:</strong>
    <%= @car.user.email %>
  </div>
  <%= link_to 'Edit', edit_car_path(@car) %> |
  <%= link_to 'Back', cars_path %>
  <%= link_to "Delete",
    car_path(@car),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>







